#content {
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-auto-rows: minmax(100%, auto);
}

#popup {
  grid-column: 2;
  background-color: #dadada;
  border-radius: 2px;
  box-shadow: 0 0 5px #344457;
/*  padding: 2% 5%;*/
}

#popup h3{
  margin: 0;
  padding: 20px 0;
  font-size: 25px;
}

#formPopUpBook {
  margin: 20px;
  font-size: 20px;
}

#ISBNInputBook {
  text-align: center;
}


#formPopUpBook{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  row-gap: 15px;
  column-gap: 50px;
  justify-content: center;
}

#checkBoxBook{
  grid-column: 2;
  display: grid;
  grid-template-columns: auto auto;
}

#saveBook{
  grid-column: 1/span 2;
  height: 60px;
  font-size: 20px;
}


