/*Display search result*/
#showSearchedList {
  margin-top: 30px;
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 500px;
}

#table tr:nth-child(odd) {
  background-color: white;
}

#table tr:nth-child(even) {
  background-color: rgba(224, 238, 253, 0.54);
}

#table, td, th {
  border: 1px solid;
  text-align: center;
}

#table th, #table td {
  height: 50px;
}

#table {
  border-collapse: collapse;
  font-size: 20px;

  width: 100%;
}
