.overlayPopup {
  position:absolute;
  display:none;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:rgba(0, 0, 0, 0.8);
  z-index:9999;
}
.closePopup {
  position:absolute;
  top:-40px;
  right:-5px;
  width:25px;
  height:25px;
  cursor:pointer;
  display: inline-block;
}
.popup {
  position:absolute;
  width:50%;
  height:50%;
  top:25%;
  left:25%;
  text-align:center;
  border-radius: 10px;

  grid-column: 2;
  background-color: #dadada;
  box-shadow: 0 0 5px #344457;
}

.popupInsert{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.popup h3{
  margin: 0;
  padding: 20px 0;
}
