#content {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-auto-rows: minmax(200px, auto);
}

/* Search field*/
#search {
  margin-top: 20px;
  padding: 30px 20px;
  background-color: #dadada;
  border-radius: 2px;
  grid-column: 2 / span 3;
  box-shadow: 0 0 5px #344457;
}

#formSearchCrossCategories {
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/*Top of search field*/
#searchAllFTSInput {
  grid-column: 1 /span 2;
  place-self: center;
}

#categoryDropDown {
  grid-column: 3 /span 1;
  place-self: center;
}

#timeDropDown {
  margin: 2px 0 0 0;
  grid-column: 4;
  grid-row: 1;
  place-self: center;
}

.button {
  grid-column: 5;
  grid-row: 1/2;
  place-self: center;
}

/*Rest of generic search field*/
#bools {
  padding-top: 20px;
  grid-column: 1/span 5;
  grid-row: 1 auto;
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  grid-auto-rows: minmax(35px, auto);
}

#unavailable {
  grid-column: 1/2;
  grid-row: 1;
  place-self: center;
}

#outOfStock {
  grid-column: 1/2;
  grid-row: 2;
  place-self: center;
}

#excludecoming {
  grid-column: 1/2;
  grid-row: 3;
  place-self: center;
}

#coming {
  grid-column: 2/3;
  grid-row: 1;
  place-self: center;
}

#onSale {
  grid-column: 2/3;
  grid-row: 2;
  place-self: center;
}

#box {
  grid-column: 2/3;
  grid-row: 3;
  place-self: center;
}



/*Display search result*/

#showSearchedList:nth-child(odd) {
  background: #ddd;
}
